body {
	background-color:  #00aced;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

h1 {
	color: #fff;
	font-size: 45px;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
}

.quote, .author {
	color: #fff;
	font-size: 25px;
	letter-spacing: 3px;
	text-align: center;
}

.trigger {
	background-color: inherit;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 40px;
	margin-top: 50px;
	font-size: 20px;
}

.trigger2 {
	background-color: inherit;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 40px;
	margin-top: 50px;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

.trigger:hover {
	transition: 1s;
	background-color: #fff;
	color: #00aced;
}

.trigger2:hover {
	transition: 1s;
	background-color: #fff;
	color: #00aced;
}
